.letter {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 40px;
    gap: 40px;
    color: #00000088;
    background: url('/images/background.png') 50% 0px/cover;
    animation: 10s linear infinite alternate move;
}

.paragraph-left {
    width: 100%;
    text-align: left;
}

.paragraph-center {
    width: 30px;
    writing-mode: vertical-lr;
}

.paragraph-right {
    width: 100%;
    text-align: right;
}

.row {
    font-size: 16px;
    line-height: 30px;
}

.row-emphasize {
    font-size: 20px;
    letter-spacing: 5px;
    color:#fff;
}

.pic-3 {
    position: absolute;
    top: 0;
    right: -30px;
    width: 200px;
    height: 200px;
    mix-blend-mode: multiply;
    background: no-repeat url('/images/pic-3.png') center/contain;
    filter: brightness(1.2) opacity(0.8);
    transform: scaleX(-1);
}

.pic-4 {
    position: absolute;
    top: 280px;
    left: -20px;
    width: 160px;
    height: 160px;
    mix-blend-mode: multiply;
    background: no-repeat url('/images/pic-4.png') center/contain;
}

.pic-5 {
    position: absolute;
    bottom: 60px;
    left: 0px;
    width: 200px;
    height: 200px;
    mix-blend-mode: multiply;
    background: no-repeat url('/images/pic-5.png') center/contain;
    filter: brightness(1) opacity(0.8);
}

.pic-6 {
    position: absolute;
    top: 600px;
    right: -130px;
    width: 130px;
    height: 130px;
    mix-blend-mode: multiply;
    background: no-repeat url('/images/pic-6.png') center/contain;
    filter: brightness(1) opacity(0.8);
    transform: rotate(10deg);
    animation: 8s linear infinite bike;
}

.pic-7 {
    position: absolute;
    top: 600px;
    right: -130px;
    width: 130px;
    height: 130px;
    mix-blend-mode: multiply;
    background: no-repeat url('/images/pic-7.png') center/contain;
    filter: brightness(1) opacity(0.8);
    transform: rotate(10deg);
    animation: 6s linear 2s infinite bike;
}

@media (min-width: 600px) {
    .pic-3 {
        width: 250px;
        height: 250px;
    }
    
    .pic-4 {
        top: 300px;
        width: 200px;
        height: 200px;
    }

    .pic-5 {
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 350px;
    }
}

@keyframes move {
    0% {
        background-size: 100% 100%;
    }

    100% {
        background-size: 150% 150%;
    }
}

@keyframes bike {
    0% {
        right: -130px;
    }

    100% {
        right: 100%;
    }
}