.home {
    --z-index-wrapper: 2;
    --z-index-circle: 1;

    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 210px 40px;
    justify-content: space-between;
    background-color: #fef4e2;
    color:#00000088;
    box-shadow: #fef4e2 0px 4px 16px, #fef4e2 0px 8px 32px;
}

.title {
    display: flex;
    text-align: left;
    font-size: 30px;
}

.home-wrapper {
    width: 100%;
    max-width: 400px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: var(--z-index-wrapper);
}

.image {
    width: 150px;
    height: 120px;
    background: no-repeat url('/images/with-dog.jpg') 50% 0px/160px;
    flex-shrink: 0;
}

.content {
    font-size: 20px;
}

.pic-1 {
    position: absolute;
    top: -30px;
    left: -70px;
    width: 200px;
    height: 200px;
    mix-blend-mode: multiply;
    background: no-repeat url('/images/pic-1.png') center/contain;
    transform: rotate(15deg);
    filter: opacity(0.8);
}

.pic-2 {
    position: absolute;
    bottom: -20px;
    left: -30px;
    width: 200px;
    height: 200px;
    mix-blend-mode: multiply;
    background: no-repeat url('/images/pic-2.png') center/contain;
    filter: opacity(0.8) brightness(1.2);
}

@media (min-width: 600px) {
    .pic-1 {
        width: 250px;
        height: 250px;
    }

    .pic-2 {
        width: 250px;
        height: 250px;
    }
}